@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700;1,800&display=swap');

.App {
  text-align: center;
  font-family: 'EB Garamond';
  color: rgb(83, 63, 102);
  display: flex;
  flex-direction: column;
  height: 100vh;
  /*paint-order: stroke;*/
  max-width: 900px;
  margin: auto;
  left:0;
  right:0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bold {
  font-weight: bold;
}

.App {
}

footer {
  flex-shrink: 0;
  padding: 16px;
  margin-top: 16px;
}

.controls {
  width: 100%;
  margin: auto;
  /*height: 45px;*/
  left:0;
  right:0;
}

body {
  background-color: rgb(232, 225, 239);
  margin-bottom: 48px;
}

.italic {
  font-style: italic;
}

.main {
  flex: 1 0 auto;
  margin-left: 24px;
  margin-right: 24px;
}

p {
  text-align: left;
}

h2, h3 {
  text-align: left;
}

#title {
  display: flex;
  width: 100%;
  text-align: right;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.title-heading {
  font-size: 2em;
  width: 164px;
  font-weight: bold;
  line-height: 1em;
}

.title-icon {
  display: block;
  width: 56px;
  padding-left: 16px;
}

text {
  font-family: 'EB Garamond';
  color: rgb(83, 63, 102);
}

/* 640px and up */
@media only screen and (min-width: 40em) {

}

/* 768px and up */
@media only screen and (min-width: 48em) {

}

/* 1024px and up */
@media only screen and (min-width: 64em) {

}

/* 1280px and up */
@media only screen and (min-width: 80em) {

}

/*


#845EC2
#D65DB1
#FF6F91
#FF9671
#FFC75F
#F9F871

*/